.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.navbar {
  flex-direction: row;
  justify-content: space-between;
  font-family: copperplate;
  font-size: larger;
  margin: 0 0.5rem;
  text-decoration: none;
  font-weight: lighter; 
  padding: 0.5rem 0.5rem;
}
.navbarLinks {
  margin-left: 20px;
  display: inline-block;
  list-style: none;
}

a:link {
  color:#66FCF1;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active{
  text-decoration: none;
}
