.container {
  position: relative;
  margin-left: 65%;
}

.container ul li {
  font-family: copperplate;
  font-size: larger;
  color: rgba(255, 255, 255, 0.971);
}
.navbar{
  color: aquamarine;
}

li {
    display: inline;
    padding: 10px;
}

.links {
    left: 50px;
    padding: 10px;
    color: aquamarine;
}

a:link {
    text-decoration: none;
  }
