
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
.container {
    width: auto;
    height: 750px;
    margin-top: 1%;
    padding: auto;
    display: flex;
    justify-content: center;
    .info {
        margin: auto;
        color: #ffffff;
        font-family: 'Inscolate', monospace;
        font-size: 13px;
    }

}    
h1{
        color:#66fcf1;
        font-size:25px;
    }
h2 {
        color:#66FCF1;
    }

