.container {
    color:rgb(111, 13, 223);;
    margin-top: 7%;
    padding: auto;
    display: flex;
    justify-content: center;
    h1 {
        font-size: 100px;
    }
}
.info {
    margin-left: 150px;
    color: #ffffff;
    font-family: monospace;
    h2 {
        color: rgb(111, 13, 223);
    }
}
