.container {
    color: whitesmoke;
    width: 250px;
    height: 250px;
    
    .box {
        border: 12px solid black;
        background-color: rgba(32, 32, 32, 0.333);
        padding:10%;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;  

    }
    .a {
        width: 250px;
        height: 35px;
        color:  rgb(111, 13, 223);
        font-size: 15px;
        text-decoration: none;
        margin: 1px;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    
    }
    .a span {
        width: 0;
        overflow: hidden;
    }
    .a:hover span{
        box-shadow: 5px 5px 16px 0 rgba(67, 0, 115, 0.727);
    }

.list {
    border: 0.1px solid black;
    outline: rgb(15, 15, 15) solid 0px;
    margin: auto;  
    padding: 1px;
    text-align: center;
    display: flex;
.h4 {
        position: bottom;
    }
}
}
