.container {
  font-family: 'Inconsolata', monospace;
  width: auto;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  } 
  
  
.hello{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
}

.hello span{
  font-family: 'Inconsolata', monospace;
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: all 1s;
  animation: animate 2s infinite;
  
}

.hello span:nth-child(1)
{
  animation-delay: .1s;
}

.hello span:nth-child(2)
{
  animation-delay: .2s;
}

.hello span:nth-child(3)
{
  animation-delay: .3s;
}

.hello span:nth-child(4)
{
  animation-delay: .4s;
}

.hello span:nth-child(5)
{
  animation-delay: .5s;
}

.hello span:nth-child(6)
{
  animation-delay: .6s;
}

.hello span:nth-child(7)
{
  animation-delay: .7s;
}
.hello span:nth-child(8)
{
  animation-delay: .8s;
}
.hello span:nth-child(9)
{
  animation-delay: .9s;
}
.hello span:nth-child(10)
{
  animation-delay: .10s;
}
// .hello span:nth-child(11)
// {
//   animation-delay: .11s;
// }
// .hello span:nth-child(12)
// {
//   animation-delay: .12s;
// }
// .loader span:nth-child(13)
// {
//   animation-delay: .13s;
// }

@keyframes animate{
  0%{
      color: #66FCF1;
      transform: translateY(0);
      margin: 0;
  }
      10%{
      color: rgb(0, 234, 255);
      }
    }
    p {
      font-weight: 500;
      font-size: 5px;
      font-family: 'Inconsolata', monospace;
      font-size: 20px;
      color: rgb(17, 255, 0);
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      width: 100%;
      margin: 10px 0;
      animation: typing 7s steps(60, end);
}
    @keyframes typing {
      from {width: 0;}
      }
    @keyframes typing-2 {
      0%  {width: 0;}
      50% {width: 0;}
      100% {width: 50;}
    }

